<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="../../public/css/style.css" rel="stylesheet">

</head>
<body class="bg-light">

    <div class="container-fluid min-vh-100 overflow-hidden">
        <div class="row min-vh-100">
            
            <div class="col-lg-2 d-none d-lg-flex flex-column bg-sidebar-admin text-white p-4"> 
                
                <div class="mb-5 mt-4">
                    <h4 class="fw-bold">MoneyKeeper</h4>
                </div>

                <nav class="nav flex-column gap-3">
                    <a href="dashboard.html" class="nav-link text-white ">
                        <i class="fa-solid fa-house me-1"></i> Tổng quan
                    </a>
                    <a href="users.html" class="nav-link text-white ">
                        <i class="fa-solid fa-users me-1"></i> Người dùng
                    </a>
                    <a href="transactions.html" class="nav-link text-white bg-white-10 rounded">
                        <i class="fa-solid fa-money-bill-transfer me-1"></i> Giao dịch hệ thống 
                    </a>
                    <a href="support.html" class="nav-link text-white  py-2 px-3">
                        <i class="fa-solid fa-headset fa-fw me-1"></i> Hỗ trợ
                    </a>
                    <a href="data.html" class="nav-link  text-white py-2 px-3 ">
                        <i class="fa-solid fa-database fa-fw me-1"></i> Dữ liệu hệ thống
                    </a>
                    <a href="settings.html" class="nav-link text-white mt-auto"> 
                        <i class="fa-solid fa-gear me-1"></i> Cài đặt
                    </a>
                </nav>
            </div>
<!-- menu -->
  <div class="d-flex fixed-top justify-content-between align-items-center bg-sidebar-admin text-white p-3 d-lg-none">
                    <h4 class="mb-0 fw-bold">MoneyKeeper</h4>
                    <button class="btn text-white border-0 fs-4 p-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            <!-- end-menu -->
            <div class="col-12 col-lg-10 p-4 p-lg-5 bg-light-gray overflow-auto h-100">

                <div class="mb-4 mt-5 pt-4 mt-lg-0 pt-lg-0">
                    <h3 class="fw-bold text-dark mb-4">Giao dịch hệ thống</h3>
                    </div>
                <div class="row mb-4 d-flex align-items-start">
                    <div class="col-lg-4 col-12 mb-3 position-relative ">
                        <i class="fa-solid fa-magnifying-glass text-muted position-absolute top-50 translate-middle-y ms-3"></i>
                        <input type="text" class="form-control rounded-pill bg-white border-secondary-subtle ps-5 py-2" placeholder="Tìm kiếm theo tên, email...">
                    </div>
                    <div class="col-12 col-lg-2 d-flex align-items-center flex-wrap gap-2 mb-3 mb-lg-0">
                        <select class="form-select form-select-lg rounded-pill border-secondary-subtle py-2 fs-6 ps-4" required>
                                <option value="" class="text-muted">Tất cả</option>
                                <option value="" class="text-secondary fw-medium">Chờ duyệt</option>
                                <option value="" class="text-warning fw-medium">Đã duyệt</option>
                                <option value="" class="text-danger fw-medium">Đã hủy</option>

                            </select>
                    </div>

                </div>
                <!-- danh sách người dùng  -->
        <div class="mt-4 overflow-x-auto">    
        <div style="min-width: 900px;">

            <div class="row mx-0 bg-white py-3 align-items-center text-muted fw-bold rounded-top mb-2 border border-secondary-subtle text-nowrap">
                <div class="col-2 ps-4">Mã GD & Thời gian</div>
                <div class="col-2">Khách hàng</div>
                <div class="col-2">Gói dịch vụ</div>
                <div class="col-2">Số tiền</div>
                <div class="col-2">Trạng thái</div>
                <div class="col-2 text-center pe-4">Hành động</div>
            </div>

            <div class="row mx-0 bg-warning-subtle bg-opacity-10 py-2 align-items-center text-dark mb-2 border border-warning-subtle rounded text-nowrap">
                <div class="col-2 ps-4">
                    <p class="mb-0 fw-bold text-dark">#MK9821</p>
                    <small class="text-muted">10:45 • Hôm nay</small> 
                </div>
                <div class="col-2 text-truncate fw-medium">Lê Văn Minh</div>
                <div class="col-2 text-warning fw-bold">Premium 1 năm</div>
                <div class="col-2">
                    <p class="mb-0 fw-bold text-dark">499.000 đ</p>
                    <small class="text-muted">Chuyển khoản MB</small>
                </div>
                <div class="col-2">
                    <span class="text-warning fw-medium">
                       Chờ duyệt
                    </span>
                </div>
                <div class="col-2 d-flex justify-content-center gap-2 pe-4">
                    <button class="btn btn-sm btn-success rounded-3 fw-medium px-3 shadow-sm"><i class="fa-solid fa-check me-1"></i> Duyệt</button>
                    <button class="btn btn-sm btn-outline-danger rounded-3 px-2" title="Từ chối giao dịch"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>

            <div class="row mx-0 bg-white py-2 align-items-center text-dark mb-2 border border-secondary-subtle rounded text-nowrap row-hover">
                <div class="col-2 ps-4">
                    <p class="mb-0 fw-bold text-secondary">#MK9820</p>
                    <small class="text-muted">15:30 • Hôm qua</small>
                </div>
                <div class="col-2 text-truncate fw-medium">Nguyễn Thị Hồng Hạnh</div>
                <div class="col-2 text-success fw-bold">Premium 6 tháng</div>
                <div class="col-2">
                    <p class="mb-0 fw-bold text-dark">299.000 đ</p>
                    <small class="text-muted">Thanh toán MoMo</small>
                </div>
                <div class="col-2">
                    <span class="text-success fw-medium">
                         Đã duyệt
                    </span>
                </div>
                <div class="col-2 d-flex justify-content-center pe-4">
                    <button class="btn btn-sm btn-light text-primary rounded-3 px-3 border border-secondary-subtle hover-primary">
                        <i class="fa-solid fa-eye me-1"></i> Chi tiết
                    </button>
                </div>
            </div>
            <div class="row mx-0 bg-white py-2 align-items-center text-dark mb-2 border border-secondary-subtle rounded text-nowrap row-hover">
                <div class="col-2 ps-4">
                    <p class="mb-0 fw-bold text-secondary">#MK9819</p>
                    <small class="text-muted">08:15 • Hôm qua</small>
                </div>
                <div class="col-2 text-truncate fw-medium">Trần Tuấn Anh</div>
                <div class="col-2 text-secondary fw-bold">Premium 1 tháng</div>
                <div class="col-2">
                    <p class="mb-0 fw-bold text-dark">49.000 đ</p>
                    <small class="text-muted">Chuyển khoản VCB</small>
                </div>
                <div class="col-2">
                    <span class="text-danger fw-medium">
                        Đã hủy
                    </span>
                </div>
                <div class="col-2 d-flex justify-content-center pe-4">
                    <button class="btn btn-sm btn-light text-primary rounded-3 px-3 border border-secondary-subtle hover-primary" title="Xem lý do hủy">
                        <i class="fa-solid fa-eye me-1"></i> Chi tiết
                    </button>
                </div>
            </div>
        </div>
    </div>
            </div>
            <!-- end- cột 2 -->

           
        </div>
    </div>

        <div class="offcanvas offcanvas-start bg-sidebar-admin text-white" tabindex="-1" id="mobileMenu" style="width: 280px;">
                    <div class="offcanvas-header border-bottom border-secondary">
                        <h5 class="offcanvas-title fw-bold">MoneyKeeper</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
                    </div>
                    <div class="offcanvas-body px-2 mt-3">
                        <nav class="nav flex-column gap-2">
                            <a href="dashboard.html" class="nav-link text-white px-3 py-2 fw-medium">
                                <i class="fa-solid fa-house fa-fw me-2"></i> Tổng quan 
                            </a>
                            <a href="users.html" class="nav-link text-white px-3 py-2 ">
                                <i class="fa-solid fa-users me-2"></i> Người dùng 
                            </a>
                            <a href="transactions.html" class="nav-link text-white px-3 py-2 rounded-3 bg-white-10">
                                <i class="fa-solid fa-money-bill-transfer me-2"></i> Giao dịch hệ thống 
                            </a>
                            <a href="support.html" class="nav-link text-white px-3 py-2">
                                <i class="fa-solid fa-headset fa-fw me-2"></i> Hỗ trợ 
                            </a>
                            <a href="data.html" class="nav-link text-white px-3 py-2">
                            <i class="fa-solid fa-database fa-fw me-2"></i> Dữ liệu hệ thống
                        </a>
                            <a href="settings.html" class="nav-link text-white px-3 py-2">
                                <i class="fa-solid fa-gear me-2"></i> Cài đặt 
                            </a>
                        </nav>
                    </div>
                </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>